.newsettle {
width: 190px;
height: 50px;
margin: 30px;
padding: 8px 10px;
border-radius: 10%;
font-family: $font;
font-size: 20px;
background: $green;
color: #FFF;
cursor: pointer;
}

.newsettle:hover {
	background: $darkgreen;
}

.logoutbutton {
width: 190px;
height: 50px;
margin: 30px;
padding: 8px 10px;
border-radius: 10%;
font-family: $font;
font-size: 20px;
background: $green;
color: #FFF;
cursor: pointer;
}

.logoutbutton:hover {
	background: $darkgreen;
}

.activesettles {
width: 190px;
height: 50px;
margin: 30px;
padding: 8px 10px;
border-radius: 10%;
font-family: $font;
font-size: 20px;
background: $green;
color: #FFF;
cursor: pointer;
}

.activesettles:hover {
	background: $darkgreen;
}