.splash-nav, .splash-main{
	a {
		margin: 30px;
		padding: 8px 10px;
		font-family: $font;
		font-size: 18px;
		text-align: center;
		background: $green;
		color: $white;
		cursor: pointer;
	}

}
.splash-nav, .splash-main, .login, .register{
	button {
		margin: 30px;
		padding: 8px 10px;
		font-family: $font;
		font-size: 18px;
		text-align: center;
		background: $green;
		color: $white;
		cursor: pointer;
	}
}

.newsettle {
	margin: 30px;
	padding: 8px 10px;
	font-family: $font;
	font-size: 18px;
	text-align: center;
	background: $green;
	color: $white;
	cursor: pointer;
}

.newsettle:hover {
	background: $darkgreen;
}

.logoutbutton {
	margin: 30px;
	padding: 8px 10px;
	font-family: $font;
	font-size: 18px;
	text-align: center;
	background: $green;
	color: $white;
	cursor: pointer;
}

.activesettles {
	margin: 30px;
	padding: 8px 10px;
	font-family: $font;
	font-size: 18px;
	text-align: center;
	background: $green;
	color: $white;
	cursor: pointer;
}
