.login {
	position: relative;
	top: 200px;
	@include flex(column);
	align-self: flex-start;
	p {
		color: $white;
	}
	button {
		margin: 10px 0px;;
	}
	a {
		background: $white;
	}
}

@media(max-width: 763px) {
	.login {
		top: 100px;
		margin-top: 50px;
		align-self: center;
	}
}