.register {
	position: relative;
	top: 100px;
	@include flex(column);
	align-self: flex-start;
	button {
		margin: 10px 0px;
		padding: 0px 14px;
	}
}

@media(max-width: 763px) {
	.register {
		margin-top: 50px;
		align-self: center;
	}
}