.register {
	position: relative;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	align-items: center;
	button {
		margin: 10px 0px;
		padding: 0px 14px;
	}
	img {
		width: 80px;
		height: 80px;
	}
}