.register {
	position: relative;
	top: 200px;
	@include flex(column);
	align-self: flex-start;
	p {
		color: $white;
	}
	a {
		background: $white;
	}
}

@media(max-width: 763px) {
	.register {
		top: 100px;
		margin-top: 50px;
		align-self: center;
	}
}