.settlecontainer {
	height: 100vh;
	width: 100vw;
	//page where settle creator sends invitations
	.new {
		@include flex(column);
		justify-content: space-evenly;
		position: fixed;
		top: 12vh;
		height: 80vh;
		width: 100%;
		.nextbutton {
			background: $green;
			@include flex(row);
			align-items: center;
			padding: 8px 10px;
			font-family: $font;
			font-size: 18px;
			text-align: center;
			color: $white;
			cursor: pointer;
			img {
				width: 20px;
				margin-left: 5px;
			}
		}
		button {
			padding: 8px 10px;
			font-family: $font;
			font-size: 18px;
			text-align: center;
			color: $white;
			cursor: pointer;
			img {
				width: 24px;
			}

		}
		.settlelink {
			@include flex(column);
			input{
				width: 250px;
			}
			.copybutton {
				width: 40px;
			}
		}
		.emailcontainer {
			@include flex(column);

			.inviteform {
				@include flex(row);
				align-items: center;
				input {
					width: 250px;
				}
			}
		}
		.numbercontainer {
			@include flex(column);

			.inviteform {
				@include flex(row);
				align-items: center;
				input {
					width: 250px;
				}
			}
		}
	}
	//page where users submit their suggestions
	.inactive{
		@include flex(column);
		justify-content: space-evenly;
		position: fixed;
		top: 12vh;
		height: 80vh;
		width: 100%;

		.inactivecontainer {
			width: 100%;
			height: 100%;
			@include flex(row);
			justify-content: space-evenly;

			.participants {
				.participant{
					img {
						width: 80px;
						height: 80px;
					}
				}
			}
			.List {
				height: 33%;
			}
			.usersuggestions {
				display: flex;
				flex-direction: column;

				.editablesuggestion {
					display: flex;
				}

				.submitlist {
					display: flex;
					button {
						width: 20px;
					}
				}
			}

		}
	}
	.active {
		@include flex(row);
		justify-content: space-evenly;
		position: fixed;
		top: 12vh;
		height: 80vh;
		width: 100%;

		.participants {
			display: flex;
			flex-direction: column;
			align-items: center;
			.participant{
				img {
					width: 80px;
					height: 80px;
				}
			}
		}
		.activenav {
			@include flex(column);
			z-index: 1;
			img {
				width: 100px;
				height: 100px;
			}
		}
		.thelist {
			@include flex(column);
			z-index: 2;
		}
	}
	.completed {
		@include flex(column);
		justify-content: space-evenly;
		position: fixed;
		top: 12vh;
		height: 80vh;
		width: 100%;
	}
}
