.settlecontainer {
	width: 100%;
	position: relative;
	top: 10vh;
	//page where settle creator sends invitations
	.new {
		@include flex(column);
		width: 100%;
		.settlelink {
			input{
				width: 220px;
			}
			.copybutton {
				width: 40px;
			}
		}
		.emailcontainer {
			@include flex(column);

			.inviteform {
				input {
					width: 220px;
				}
			}
		}
		.numbercontainer {
			@include flex(column);

			.inviteform {
				input {
					width: 200px;
				}
			}
		}
	}
	//page where users submit their suggestions
	.inactive{
		@include flex(column);
		height: 800px;
		width: 100%;

		.inactivecontainer {
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			.usersuggestions {
				display: flex;
				flex-direction: column;
			}

			.submitlist {
				display: flex;
				button {
					width: 20px;
				}
			}
			ul {
				display: flex;
				flex-direction: column;
			}
			.participants {
				.participant{
					img {
						width: 80px;
						height: 80px;
					}
				}
			}
		}
	}
	.active {
		width: 100%;
		height: 800px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		.participants {
			display: flex;
			flex-direction: column;
			align-items: center;
			.participant{
				img {
					width: 80px;
					height: 80px;
				}
			}
		}
		.userpanel {
			@include flex(column);
			z-index: 1;
			img {
				width: 100px;
				height: 100px;
			}
		}
		.thelist {
			@include flex(column);
			z-index: 2;
		}
	}
	.completed {
		width: 100%;
		height: 100%;
		@include flex(column);
	}
}

@media(max-width: 763px) {

}