.settlecontainer {
	//page where settle creator sends invitations
	.new {

		.settlelink {
			input{

			}
			.copybutton {

			}
			button {

			}
		}
		.emailcontainer {

			.inviteform {
				input {

				}
			}
		}
		.numbercontainer {

			.inviteform {
				input {

				}
			}
		}
	}
	//page where users submit their suggestions
	.inactive{
		@include flex(column);
		position: fixed;
		top: 14vh;
		height: 84vh;
		width: 100%;

		.inactivecontainer {
			height: 100%;
			width: 100%;
			@include flex(column);
			
			.participants {
				width: 100vw;
				display: flex;
				flex-direction: row;
				justify-content: center;
				.participant{
					img {
						width: 40px;
						height: 40px;
					}
				}
			}

			.List {
				justify-content: space-evenly;
				margin: 30px 0px;
			}

			.usersuggestions {
				display: flex;
				flex-direction: column;

				.editablesuggestion {
					width: 100%;
					display: flex;
					justify-content: space-between;
				}

				.submitlist {
					display: flex;
					button {
						width: 20px;
					}
				}
			}

		}
	}
	.active {
		@include flex(column);
		justify-content: space-evenly;
		height: 98vh;
		position: fixed;
		top: 2vh;

		.participants {
			@include flex(row);
			.participant{
				img {
					width: 40px;
					height: 40px;
				}
			}
		}
		.activenav {
			@include flex(row);
			z-index: 1;
			img {
				width: 100px;
				height: 100px;
			}
		}
		.thelist {
			@include flex(column);
			z-index: 2;
		}
	}

	.completed {
		@include flex(column);
		justify-content: space-evenly;
		position: fixed;
		top: 12vh;
		height: 80vh;
		width: 100%;
	}
}
