$logo-font: SignPainter;
$font: inconsolata;
$blue: #08B2E3;
$green: #57A773;
$darkgreen: #509869;
$red: #EE6352;
$black: #040F0F;
$yellow:#FED766;

@mixin flex($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}