// sass --watch ./src/sass/scss:./src/sass/css
// partials
@import 'reset';
@import 'variables';
@import 'buttons';
@import 'header';
@import 'login';
@import 'register';
@import 'splash';
@import 'settle';
@import 'dashboard';

.App {
	text-align: center;
	@include flex(row);
	height: 100vh;
	width: 100vw;
	flex-wrap: wrap;
	background: $gray;
}

@media(max-width: 763px) {
	.App {
		flex-direction: column;
		justify-content: flex-start;
		width: 100vw;
		height: 100vh;
	}

	@import 'settle763';
	@import 'dashboard763';
}

.logo {
	color: $blue;
	font-family: $logo-font;
	font-size: 100px;
}

.hide {
	display: none;
}

input {
	border: rgb(172, 172, 172) solid 1px;
	margin: 10px 10px;
	padding: 2px;
}
input, select, textarea{
    color: $white;
}
textarea:focus, input:focus {
	color: $white;
}