
// partials
@import 'reset';
@import 'variables';
@import 'header';
@import 'login';
@import 'buttons';
@import 'register';
@import 'splash';
@import 'settle';
@import 'dashboard';

.App {
	text-align: center;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	flex-wrap: wrap;
}

@media(max-width: 763px) {
	.App {
		flex-direction: column;
		justify-content: flex-start;
		width: 100vw;
		height: 100vh;
	}
}

.logo {
	color: $blue;
	font-family: $logo-font;
	font-size: 100px;
}

.hide {
	display: none;
}