/* 
 * https://github.com/jtrost/Complete-CSS-Reset
*/
/* Displays for HTML 5 */
article, aside, audio, command, datagrid, details, dialog, embed,
figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
video, wbr {
  display: block;
}

bdi, figcaption, keygen, mark, meter, progress, rp, rt, ruby, time {
  display: inline;
}

/* Deprecated tags */
acronym, applet, big, center, dir, font, frame, frameset, noframes, s,
strike, tt, u, xmp {
  display: none;
}

/* Reset styles for all structural tags */
a, abbr, area, article, aside, audio, b, bdo, blockquote, body, button,
canvas, caption, cite, code, col, colgroup, command, datalist, dd, del,
details, dialog, dfn, div, dl, dt, em, embed, fieldset, figure, form,
h1, h2, h3, h4, h5, h6, head, header, hgroup, hr, html, i, iframe, img,
input, ins, keygen, kbd, label, legend, li, map, mark, menu, meter, nav,
noscript, object, ol, optgroup, option, output, p, param, pre, progress,
q, rp, rt, ruby, samp, section, select, small, span, strong, sub, sup,
table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline;
  z-index: 1;
}

/* Miscellaneous resets */
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.splash-nav a, .splash-main a, .active .settlecontainer a {
  margin: 30px;
  padding: 8px 10px;
  font-family: inconsolata;
  font-size: 18px;
  text-align: center;
  background: #57A773;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 22;
}

.splash-nav button, .splash-main button, .login button, .register button {
  margin: 30px;
  padding: 8px 10px;
  font-family: inconsolata;
  font-size: 18px;
  text-align: center;
  background: #57A773;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 22;
}

.newsettle, .startsettle {
  margin: 30px;
  padding: 8px 10px;
  font-family: inconsolata;
  font-size: 18px;
  text-align: center;
  background: #57A773;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 22;
}

.newsettle:hover {
  background: #509869;
}

.logoutbutton {
  margin: 30px;
  padding: 8px 10px;
  font-family: inconsolata;
  font-size: 18px;
  text-align: center;
  background: #57A773;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 22;
}

.activesettles {
  margin: 30px;
  padding: 8px 10px;
  font-family: inconsolata;
  font-size: 18px;
  text-align: center;
  background: #57A773;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 22;
}

.header {
  position: fixed;
  height: 10vh;
  top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #494949;
}
.header h1 {
  font-family: SignPainter;
  font-size: 100px;
  color: #08B2E3;
}

.login {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.login p {
  color: #FFFFFF;
}
.login button {
  margin: 10px 0px;
}
.login a {
  background: #FFFFFF;
}

@media (max-width: 763px) {
  .login {
    top: 100px;
    margin-top: 50px;
    align-self: center;
  }
}
.register {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.register p {
  color: #FFFFFF;
}
.register button {
  margin: 10px 0px;
  padding: 0px 14px;
}
.register a {
  background: #FFFFFF;
}

@media (max-width: 763px) {
  .register {
    top: 100px;
    margin-top: 50px;
    align-self: center;
  }
}
.splash-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 500px;
}
.splash-main h1 {
  font-family: SignPainter;
  font-size: 100px;
  color: #08B2E3;
}
.splash-main p {
  width: 399px;
  line-height: 2;
  margin: 100px 0;
  font-family: inconsolata;
  color: #FFFFFF;
}
.splash-main a {
  width: 85px;
  margin: 30px;
  padding: 8px 10px;
  border-radius: 10%;
  font-family: inconsolata;
  font-size: 20px;
  cursor: pointer;
}
.splash-main a:hover {
  background: #57A773;
}

.splash-line {
  border: 0.5px solid #979797;
  margin: 15vh 30px;
  height: 70vh;
}

.splash-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

@media (max-width: 763px) {
  .splash-line {
    height: 0px;
    margin: 20px 30px;
  }

  .splash-nav {
    flex-direction: row;
    width: 100%;
  }
  .splash-nav a {
    margin: 30px 10px 0px 10px;
    font-size: 16px;
  }

  .splash-main {
    min-width: 100%;
    justify-content: space-evenly;
    height: 80vh;
  }
  .splash-main h1 {
    font-size: 80px;
  }
  .splash-main p {
    line-height: 1.5;
    margin: 30px 0;
  }
  .splash-main a {
    margin: 0px;
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .splash-main h1 {
    font-size: 70px;
  }
  .splash-main p {
    width: 80%;
    min-width: 200px;
  }
}
.settlecontainer {
  height: 100vh;
  width: 100vw;
}
.settlecontainer .new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 12vh;
  height: 80vh;
  width: 100%;
}
.settlecontainer .new p {
  color: #FFFFFF;
}
.settlecontainer .new .nextbutton {
  background: #57A773;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 8px 10px;
  font-family: inconsolata;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.settlecontainer .new .nextbutton img {
  width: 20px;
  margin-left: 5px;
}
.settlecontainer .new button {
  padding: 8px 10px;
  font-family: inconsolata;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.settlecontainer .new button img {
  width: 24px;
}
.settlecontainer .new .settlelink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.settlecontainer .new .settlelink .inviteform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.settlecontainer .new .settlelink .inviteform input {
  width: 250px;
}
.settlecontainer .new .emailcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settlecontainer .new .emailcontainer .inviteform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.settlecontainer .new .emailcontainer .inviteform input {
  width: 250px;
}
.settlecontainer .new .numbercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settlecontainer .new .numbercontainer .inviteform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.settlecontainer .new .numbercontainer .inviteform input {
  width: 250px;
}
.settlecontainer .inactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 12vh;
  height: 80vh;
  width: 100%;
}
.settlecontainer .inactive img {
  width: 24px;
}
.settlecontainer .inactive p {
  color: #FFFFFF;
}
.settlecontainer .inactive .inactivestatus, .settlecontainer .inactive .startsettle {
  margin-bottom: 50px;
}
.settlecontainer .inactive .startsettle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.settlecontainer .inactive .startsettle img {
  width: 20px;
  margin-left: 5px;
}
.settlecontainer .inactive .inactivecontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.settlecontainer .inactive .inactivecontainer .participants .participant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.settlecontainer .inactive .inactivecontainer .participants .participant img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.settlecontainer .inactive .inactivecontainer .List {
  margin: 30px 0px;
}
.settlecontainer .inactive .inactivecontainer .usersuggestions {
  display: flex;
  flex-direction: column;
}
.settlecontainer .inactive .inactivecontainer .usersuggestions p {
  width: 220px;
}
.settlecontainer .inactive .inactivecontainer .usersuggestions .editablesuggestion {
  display: flex;
}
.settlecontainer .inactive .inactivecontainer .usersuggestions .editablesuggestion button {
  width: 30px;
}
.settlecontainer .inactive .inactivecontainer .usersuggestions .submitlist {
  display: flex;
}
.settlecontainer .inactive .inactivecontainer .usersuggestions .submitlist button {
  width: 30px;
}
.settlecontainer .active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 12vh;
  height: 80vh;
  width: 100%;
}
.settlecontainer .active .userimage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.settlecontainer .active .participants {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settlecontainer .active .participants .participant img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.settlecontainer .active .activenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.settlecontainer .active .activenav img {
  width: 100px;
  height: 100px;
}
.settlecontainer .active .thelist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: left;
  z-index: 2;
  text-align: left;
}
.settlecontainer .active .thelist .listitem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.settlecontainer .active .thelist .listitem .removesuggestion img {
  width: 20px;
  margin-left: 5px;
}
.settlecontainer .active .thelist .listitem p {
  color: #FFFFFF;
}
.settlecontainer .completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 12vh;
  height: 80vh;
  width: 100%;
}
.settlecontainer .completed p {
  color: #FFFFFF;
}

.dashboard {
  height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.dashboard .userpanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.dashboard .userpanel p {
  color: #FFFFFF;
  text-align: center;
}
.dashboard .userpanel .edituserinfo input {
  width: 240px;
}
.dashboard .userpanel .deleteaccount {
  background: #EE6352;
}
.dashboard .userpanel button {
  margin: 10px;
  padding: 8px 10px;
  font-family: inconsolata;
  font-size: 18px;
  text-align: center;
  background: #57A773;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 30;
}
.dashboard .userpanel img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
.dashboard .activebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-wrap: wrap;
  top: 50px;
  left: 450px;
  height: 80%;
  z-index: 1;
}
.dashboard .activebox p {
  margin: 20px 0;
}
.dashboard .activebox a {
  margin: 15px;
  padding: 8px 10px;
  font-family: inconsolata;
  font-size: 18px;
  text-align: center;
  background: #57A773;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 22;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  background: #494949;
}

@media (max-width: 763px) {
  .App {
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
  }

  .settlecontainer .new {
    top: 14vh;
    height: 74vh;
    width: 100%;
  }
  .settlecontainer .new .settlelink button {
    z-index: 21;
  }
  .settlecontainer .inactive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 14vh;
    height: 74vh;
    width: 100%;
  }
  .settlecontainer .inactive .inactivecontainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .settlecontainer .inactive .inactivecontainer .participants {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .settlecontainer .inactive .inactivecontainer .participants .participant img {
    width: 40px;
    height: 40px;
  }
  .settlecontainer .inactive .inactivecontainer .List {
    justify-content: space-evenly;
    margin: 30px 0px;
  }
  .settlecontainer .inactive .inactivecontainer .usersuggestions {
    display: flex;
    flex-direction: column;
  }
  .settlecontainer .inactive .inactivecontainer .usersuggestions .editablesuggestion {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .settlecontainer .inactive .inactivecontainer .usersuggestions .submitlist {
    display: flex;
  }
  .settlecontainer .inactive .inactivecontainer .usersuggestions .submitlist button {
    width: 30px;
  }
  .settlecontainer .active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 74vh;
    position: fixed;
    top: 14vh;
  }
  .settlecontainer .active .participants {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .settlecontainer .active .participants .participant img {
    width: 40px;
    height: 40px;
  }
  .settlecontainer .active .activenav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .settlecontainer .active .activenav img {
    width: 100px;
    height: 100px;
  }
  .settlecontainer .active .thelist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .settlecontainer .completed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 12vh;
    height: 80vh;
    width: 100%;
  }

  .dashboard {
    height: 90vh;
  }
  .dashboard .userpanel {
    margin-top: 60px;
    align-self: center;
  }
  .dashboard .userpanel h1 {
    font-size: 60px;
  }
  .dashboard .userpanel .editaccountbutton, .dashboard .userpanel .activesettles {
    display: none;
  }
  .dashboard .userpanel button {
    margin: 10px;
    padding: 8px 10px;
    font-size: 14px;
  }
  .dashboard .userpanel img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .dashboard .activebox {
    height: auto;
    position: relative;
    top: 0;
    left: 0;
  }
  .dashboard .activebox p {
    font-size: 14px;
    margin: 10px 0px;
  }
  .dashboard .activebox a {
    display: none;
  }
}
.logo {
  color: #08B2E3;
  font-family: SignPainter;
  font-size: 100px;
}

.hide {
  display: none;
}

input {
  border: #acacac solid 1px;
  margin: 10px 10px;
  padding: 2px;
}

input, select, textarea {
  color: #FFFFFF;
}

textarea:focus, input:focus {
  color: #FFFFFF;
}

p {
  font-family: inconsolata;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
