/* 
 * https://github.com/jtrost/Complete-CSS-Reset
*/
/* Displays for HTML 5 */
article, aside, audio, command, datagrid, details, dialog, embed,
figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
video, wbr {
  display: block;
}

bdi, figcaption, keygen, mark, meter, progress, rp, rt, ruby, time {
  display: inline;
}

/* Deprecated tags */
acronym, applet, big, center, dir, font, frame, frameset, noframes, s,
strike, tt, u, xmp {
  display: none;
}

/* Reset styles for all structural tags */
a, abbr, area, article, aside, audio, b, bdo, blockquote, body, button,
canvas, caption, cite, code, col, colgroup, command, datalist, dd, del,
details, dialog, dfn, div, dl, dt, em, embed, fieldset, figure, form,
h1, h2, h3, h4, h5, h6, head, header, hgroup, hr, html, i, iframe, img,
input, ins, keygen, kbd, label, legend, li, map, mark, menu, meter, nav,
noscript, object, ol, optgroup, option, output, p, param, pre, progress,
q, rp, rt, ruby, samp, section, select, small, span, strong, sub, sup,
table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline;
  z-index: 1;
}

/* Miscellaneous resets */
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: fixed;
  height: 10vh;
  top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: white;
}
.header h1 {
  font-family: SignPainter;
  font-size: 100px;
  color: #08B2E3;
}

.login {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.login button {
  margin: 10px 0px;
}
.login a {
  background: #fff;
}

@media (max-width: 763px) {
  .login {
    margin-top: 50px;
    align-self: center;
  }
}
.splash-nav a, .splash-main a {
  width: 85px;
  margin: 30px;
  padding: 8px 10px;
  border-radius: 10%;
  font-family: inconsolata;
  font-size: 18px;
  text-align: center;
  background: #57A773;
  color: #FFF;
  cursor: pointer;
}
.splash-nav a:hover, .splash-main a:hover {
  background: #509869;
}

.splash-nav button, .splash-main button, .login button, .register button {
  width: 85px;
  margin: 30px;
  padding: 8px 10px;
  border-radius: 10%;
  font-family: inconsolata;
  font-size: 18px;
  text-align: center;
  background: #57A773;
  color: #FFF;
  cursor: pointer;
}

button:hover {
  background: #509869;
}

.newsettle {
  width: 155px;
  height: 50px;
  margin: 30px;
  padding: 8px 10px;
  font-size: 18px;
}

.newsettle:hover {
  background: #509869;
}

.logoutbutton {
  width: 190px;
  height: 50px;
  margin: 30px;
  padding: 8px 10px;
  font-size: 20px;
}

.activesettles {
  width: 190px;
  height: 50px;
  margin: 30px;
  padding: 8px 10px;
  font-size: 20px;
}

.register {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.register button {
  margin: 10px 0px;
  padding: 0px 14px;
}
.register a {
  background: #FFF;
}

@media (max-width: 763px) {
  .register {
    margin-top: 50px;
    align-self: center;
  }
}
.splash-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 500px;
}
.splash-main h1 {
  font-family: SignPainter;
  font-size: 100px;
  color: #08B2E3;
}
.splash-main p {
  width: 399px;
  line-height: 2;
  margin: 100px 0;
  font-family: inconsolata;
}
.splash-main a {
  width: 85px;
  margin: 30px;
  padding: 8px 10px;
  border-radius: 10%;
  font-family: inconsolata;
  font-size: 20px;
  cursor: pointer;
}
.splash-main a:hover {
  background: #57A773;
}

.splash-line {
  border: 0.5px solid #979797;
  margin: 15vh 30px;
  height: 70vh;
}

.splash-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

@media (max-width: 763px) {
  .splash-line {
    height: 0px;
    margin: 20px 30px;
  }

  .splash-nav {
    flex-direction: row;
    width: 100%;
  }
  .splash-nav a {
    margin: 30px 10px 0px 10px;
    font-size: 16px;
  }

  .splash-main {
    min-width: 100%;
    justify-content: space-evenly;
    height: 80vh;
  }
  .splash-main h1 {
    font-size: 80px;
  }
  .splash-main p {
    line-height: 1.5;
    margin: 30px 0;
  }
  .splash-main a {
    margin: 0px;
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .splash-main h1 {
    font-size: 70px;
  }
  .splash-main p {
    width: 80%;
    min-width: 200px;
  }
}
.settlecontainer {
  height: 100vh;
  width: 100vw;
}
.settlecontainer .new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 12vh;
  height: 80vh;
  width: 100%;
}
.settlecontainer .new .settlelink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settlecontainer .new .settlelink input {
  width: 220px;
}
.settlecontainer .new .settlelink .copybutton {
  width: 40px;
}
.settlecontainer .new .emailcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settlecontainer .new .emailcontainer .inviteform input {
  width: 220px;
}
.settlecontainer .new .numbercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settlecontainer .new .numbercontainer .inviteform input {
  width: 220px;
}
.settlecontainer .inactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 12vh;
  height: 80vh;
  width: 100%;
}
.settlecontainer .inactive .inactivecontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.settlecontainer .inactive .inactivecontainer .participants .participant img {
  width: 80px;
  height: 80px;
}
.settlecontainer .inactive .inactivecontainer .List {
  height: 33%;
}
.settlecontainer .inactive .inactivecontainer .usersuggestions {
  display: flex;
  flex-direction: column;
}
.settlecontainer .inactive .inactivecontainer .usersuggestions .editablesuggestion {
  display: flex;
}
.settlecontainer .inactive .inactivecontainer .usersuggestions .submitlist {
  display: flex;
}
.settlecontainer .inactive .inactivecontainer .usersuggestions .submitlist button {
  width: 20px;
}
.settlecontainer .active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 12vh;
  height: 80vh;
  width: 100%;
}
.settlecontainer .active .participants {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settlecontainer .active .participants .participant img {
  width: 80px;
  height: 80px;
}
.settlecontainer .active .activenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.settlecontainer .active .activenav img {
  width: 100px;
  height: 100px;
}
.settlecontainer .active .thelist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.settlecontainer .completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 12vh;
  height: 80vh;
  width: 100%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard .userpanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
}

@media (max-width: 763px) {
  .App {
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
  }

  .settlecontainer .new .settlelink input {
    width: 220px;
  }
  .settlecontainer .new .settlelink .copybutton {
    width: 40px;
  }
  .settlecontainer .new .emailcontainer .inviteform input {
    width: 220px;
  }
  .settlecontainer .new .numbercontainer .inviteform input {
    width: 200px;
  }
  .settlecontainer .inactive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    justify-content: space-evenly;
    top: 14vh;
    height: 84vh;
    width: 100%;
  }
  .settlecontainer .inactive .inactivecontainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }
  .settlecontainer .inactive .inactivecontainer .participants {
    height: 33%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .settlecontainer .inactive .inactivecontainer .participants .participant img {
    width: 40px;
    height: 40px;
  }
  .settlecontainer .inactive .inactivecontainer .List {
    height: 33%;
    justify-content: space-evenly;
  }
  .settlecontainer .inactive .inactivecontainer .usersuggestions {
    height: 33%;
    display: flex;
    flex-direction: column;
  }
  .settlecontainer .inactive .inactivecontainer .usersuggestions .editablesuggestion {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .settlecontainer .inactive .inactivecontainer .usersuggestions .submitlist {
    display: flex;
  }
  .settlecontainer .inactive .inactivecontainer .usersuggestions .submitlist button {
    width: 20px;
  }
  .settlecontainer .active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 98vh;
    position: fixed;
    top: 2vh;
  }
  .settlecontainer .active .participants {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .settlecontainer .active .participants .participant img {
    width: 40px;
    height: 40px;
  }
  .settlecontainer .active .activenav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .settlecontainer .active .activenav img {
    width: 100px;
    height: 100px;
  }
  .settlecontainer .active .thelist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .settlecontainer .completed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 12vh;
    height: 80vh;
    width: 100%;
  }
}
.logo {
  color: #08B2E3;
  font-family: SignPainter;
  font-size: 100px;
}

.hide {
  display: none;
}

input {
  border: #acacac solid 1px;
  margin: 10px 10px 0 0;
}

/*# sourceMappingURL=style.css.map */
