* {
  text-decoration: none;
  font-size: 1em;
  outline: none;
  padding: 0;
  margin: 0;
}

code, kbd, samp, pre, tt, var, textarea,
input, select, isindex, listing, xmp, plaintext {
  white-space: normal;
  font-size: 1em;
  font: inherit;
}

dfn, i, cite, var, address, em {
  font-style: normal;
}

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, img, a img, iframe, form, fieldset,
abbr, acronym, object, applet, table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td, center {
  vertical-align: top;
  text-align: left;
}

body {
  background: white;
  line-height: 1;
  color: black;
}

q {
  quotes: "" "";
}

ul, ol, dir, menu {
  list-style: none;
}

sub, sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

hr {
  display: none;
}

font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important;
}

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

nobr {
  white-space: normal;
}

html {
  color: #000;
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  font-family: sans-serif;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

q:before,
q:after {
  content: "";
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a:hover {
  text-decoration: underline;
}

ins,
a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header h1 {
  font-family: SignPainter;
  font-size: 100px;
  color: #08B2E3;
}

.login {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.login button {
  margin: 10px 0px;
}

@media (max-width: 763px) {
  .login {
    margin-top: 50px;
    align-self: center;
  }
}
.newsettle {
  width: 190px;
  height: 50px;
  margin: 30px;
  padding: 8px 10px;
  border-radius: 10%;
  font-family: inconsolata;
  font-size: 20px;
  background: #57A773;
  color: #FFF;
  cursor: pointer;
}

.newsettle:hover {
  background: #509869;
}

.logoutbutton {
  width: 190px;
  height: 50px;
  margin: 30px;
  padding: 8px 10px;
  border-radius: 10%;
  font-family: inconsolata;
  font-size: 20px;
  background: #57A773;
  color: #FFF;
  cursor: pointer;
}

.logoutbutton:hover {
  background: #509869;
}

.activesettles {
  width: 190px;
  height: 50px;
  margin: 30px;
  padding: 8px 10px;
  border-radius: 10%;
  font-family: inconsolata;
  font-size: 20px;
  background: #57A773;
  color: #FFF;
  cursor: pointer;
}

.activesettles:hover {
  background: #509869;
}

.register {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.register button {
  margin: 10px 0px;
  padding: 0px 14px;
}

@media (max-width: 763px) {
  .register {
    margin-top: 50px;
    align-self: center;
  }
}
.splash-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 500px;
}
.splash-main h1 {
  font-family: SignPainter;
  font-size: 100px;
  color: #08B2E3;
}
.splash-main p {
  width: 399px;
  line-height: 2;
  margin: 100px 0;
  font-family: inconsolata;
}
.splash-main a {
  width: 85px;
  margin: 30px;
  padding: 8px 10px;
  border-radius: 10%;
  font-family: inconsolata;
  font-size: 20px;
  cursor: pointer;
}
.splash-main a:hover {
  background: #57A773;
}

.splash-line {
  border: 0.5px solid #979797;
  margin: 15vh 30px;
  height: 70vh;
}

.splash-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.splash-nav a {
  width: 85px;
  margin: 30px;
  padding: 8px 10px;
  border-radius: 10%;
  font-family: inconsolata;
  font-size: 20px;
  background: #57A773;
  color: #FFF;
  cursor: pointer;
}
.splash-nav a:hover {
  background: #509869;
}

@media (max-width: 763px) {
  .splash-line {
    height: 0px;
    margin: 20px 30px;
  }

  .splash-nav {
    flex-direction: row;
    width: 100%;
  }
  .splash-nav a {
    margin: 30px 10px 0px 10px;
    font-size: 16px;
  }

  .splash-main {
    min-width: 100%;
    justify-content: space-evenly;
    height: 80vh;
  }
  .splash-main h1 {
    font-size: 80px;
  }
  .splash-main p {
    line-height: 1.5;
    margin: 30px 0;
  }
  .splash-main a {
    margin: 0px;
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .splash-main h1 {
    font-size: 70px;
  }
  .splash-main p {
    width: 80%;
    min-width: 200px;
  }
}
.settlecontainer {
  width: 100%;
  display: flex;
}
.settlecontainer .new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
}
.settlecontainer .new .settlelink input {
  width: 220px;
}
.settlecontainer .new .inviteboxes {
  width: 100%;
  display: flex;
  justify-content: center;
}
.settlecontainer .new .inviteboxes .emailcontainer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.settlecontainer .new .inviteboxes .emailcontainer .invitelist {
  border: 1px solid black;
  width: 300px;
  height: 300px;
}
.settlecontainer .new .inviteboxes .numbercontainer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.settlecontainer .new .inviteboxes .numbercontainer .invitelist {
  border: 1px solid black;
  width: 300px;
  height: 300px;
}
.settlecontainer .new .inviteboxes button {
  width: 22px;
  height: 22px;
}
.settlecontainer .new .inviteboxes p {
  width: 400px;
}
.settlecontainer .new button {
  width: 100px;
  height: 30px;
}
.settlecontainer .new .copybutton {
  width: 40px;
  height: 22px;
}
.settlecontainer .inactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
}
.settlecontainer .inactive .inactivecontainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.settlecontainer .inactive .inactivecontainer .usersuggestions {
  display: flex;
  flex-direction: column;
}
.settlecontainer .inactive .inactivecontainer .submitlist {
  display: flex;
}
.settlecontainer .inactive .inactivecontainer .submitlist button {
  width: 20px;
}
.settlecontainer .inactive .inactivecontainer ul {
  display: flex;
  flex-direction: column;
}
.settlecontainer .inactive .inactivecontainer .participants .participant img {
  width: 80px;
  height: 80px;
}
.settlecontainer .active {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.settlecontainer .active .participants {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settlecontainer .active .participants .participant img {
  width: 80px;
  height: 80px;
}
.settlecontainer .active .userpanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.settlecontainer .active .userpanel img {
  width: 100px;
  height: 100px;
}
.settlecontainer .active .thelist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.settlecontainer .completed {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userpanel {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.userpanel button {
  width: 190px;
  height: 50px;
  margin: 30px;
  padding: 8px 10px;
  border-radius: 10%;
  font-family: serif;
  font-size: 20px;
  background: #57A773;
  cursor: pointer;
  color: #FFF;
}
.userpanel button:hover {
  background: #509869;
}
.userpanel img {
  width: 200px;
  border: 0.5px solid black;
  border-radius: 50%;
  margin: 20px 0;
}
.userpanel .userinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.userpanel p {
  font-size: 24px;
  margin: 10px 0;
  text-align: left;
}

.dashpanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 300px;
  width: 800px;
  height: 750px;
}
.dashpanel .dashnav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}
.dashpanel .dashnav .logo {
  font-family: SignPainter;
  font-size: 100px;
  color: #08B2E3;
}
.dashpanel .dashmain {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dashpanel .dashmain .friends {
  width: 340px;
  height: 500px;
  border: 1px solid black;
}
.dashpanel .dashmain .stats {
  width: 340px;
  height: 500px;
  border: 1px solid black;
}

.activebox {
  background: #08B2E3;
  width: 300px;
  position: fixed;
  top: 81px;
  left: 585px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.activebox a {
  margin-top: 10px;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
}

@media (max-width: 763px) {
  .App {
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
  }
}
.logo {
  color: #08B2E3;
  font-family: SignPainter;
  font-size: 100px;
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
